body {
    background-color: var(--azul-claro);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
#calendar {
    height: 25px;
    margin-bottom: 30px;
    padding: 5px;
    border: none;
    border-radius: 7px;
    font: 14px cursive, Verdana, Helvetica, sans-serif;
    background-color: transparent;
    color: var(--vermelho);
    font-weight: bolder;
}
.phrase {
    height: 90%;
    display: flex;
    align-items: center;
}
.phrase div, #frase {
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.phrase div nav {
    width: 100%;
    box-shadow: 0px 1px 5px var(--global-box-shadow);
    border-radius: 20px 20px;
    overflow: hidden;
/*     background: rgb(221,221,166);
    background: radial-gradient(circle,rgba(245,245,220,1)  0%, rgba(221,221,166,1) 100%); */
    background: radial-gradient(circle,var(--monochromatic1)  0%, var(--monochromatic2) 100%);
}
.phrase div nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    cursor: pointer;
}
.phrase div nav ul li {
    width: 100%;
}
.phrase div nav ul li img {
    display: block;
    margin: auto;
}
.added {
    border-radius: 10px;
    display:block;
    margin: 10px auto 0 auto;
    height: 300px;
    box-shadow: 4px 4px 10px var(--box-shadow);
}