body {
    background-color: var(--rosa-claro);
    background-image: url("https://m.media-amazon.com/images/I/316FSDek9sL._AC_SY450_.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
#calendar {
    height: 25px;
    margin-bottom: 30px;
    padding: 5px;
    border: none;
    border-radius: 7px;
    box-shadow: 0px 0.3px 3px  var(--box-shadow);
    font: 14px cursive, Verdana, Helvetica, sans-serif;
}
.phrase {
    height: 90%;
    display: flex;
    align-items: center;
    align-content: space-between;
}
.phrase div {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.phrase div:first-of-type {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 80%;
    width: 100%;
}
.phrase div:first-of-type > p {
    font-size: 1.7rem;
}
.phrase div:last-of-type {
margin-bottom: 30px;
}
.phrase div nav {
    width: 80%;
    box-shadow: 0px 1px 5px rgba(136, 136, 136, 0.274);
    border-radius: 20px 20px;
    overflow: hidden;
    background: rgb(221,221,166);
    background: radial-gradient(circle,rgba(245,245,220,1)  0%, rgba(221,221,166,1) 100%);
}
.phrase div nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    cursor: pointer;
}
.phrase div nav ul li {
    width: 100%;
}
.phrase div nav ul li img {
    display: block;
    margin: auto;
}
.added {
    border-radius: 10px;
    display:block;
    margin: 10px auto 0 auto;
    height: 300px;
    box-shadow: 4px 4px 10px var(--box-shadow);
}