.photo {
    width: 180px;
    height: 180px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: black solid 2px;
}
.phrase:nth-child(odd) {
    background-color: var(--rosa-claro);
}
.phrase:nth-child(even) {
    background-color: var(--azul-claro);
    box-shadow: inset 2px 0px 10px var(--global-box-shadow);
}
.phrase:nth-child(1) > .photo {
    background-image: url("../images/auêis/main.jpg");
}
.phrase:nth-child(2) > .photo {
    background-image: url("../images/auêis/vovo.jpeg");
    background-position: center 60%;
}
.phrase:nth-child(3) > .photo {
    background-image: url("../images/auêis/thumb.jpg");
    background-position: center 15%;
}
.phrase {
    padding: 35px 0 0 0;
}
.phrase p {
    margin: 35px 0 35px 0;
}