* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: var(--azul-ultra);
    color: var(--monochromatic9);
}

#board {
    width: 310px;
    margin: 50px auto;
}

.square {
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: var(--monochromatic2);
    border-radius: 5px;
    box-shadow: inset rgba(0, 0, 0, 0.336) 2px 2px 5px;
}

.square:hover {
    cursor: pointer;
}

.x::after {
    content: 'x';
    position: absolute;
    line-height: 100px;
    transform: translateX(-50%) translateY(-10%);
    font-size: 100px;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.329)
}

.o::after {
    content: 'o';
    position: absolute;
    line-height: 100px;
    transform: translateX(-50%) translateY(-10%);
    font-size: 100px;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.329)
}

#playagain {
    width: 310px;
    height: 30px;
    background: var(--monochromatic2);
    background: linear-gradient(145deg, var(--monochromatic3) 70%, var(--monochromatic1) 100%);
    color: var(--monochromatic9);
    font-size: 1.3rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.329);
    border: none;
    border-radius: 7px;
    margin-top: 20px;
}

#playagain:hover {
    cursor: pointer;
}