@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nav-heigth: 50px;
    --nav-background-color: #dee2e6;
}
header {
    position: sticky;
    top: 0;
    z-index: 1;
}
#nav {
    height: var(--nav-heigth);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 1px 5px rgba(136, 136, 136, 0.274);
    background: var(--monochromatic3);
    background: linear-gradient(145deg, var(--monochromatic3) 60%, var(--monochromatic2) 100%);
}
#nav > ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 50%;
}
#nav > a {
    margin-right: 30px;
}
#nav img {
    width: 32px;
    height: 32px;
}
#home {
    transform: translateY(4px);
}
#nav ul li:nth-child(3) {
    position: relative;
}
.noneDisplay {
    position: absolute;
    width: 160px;
    padding: 5px;
    background-color: var(--global-box-shadow);
    transform: translateX(-15%);
    border-radius: 5px;
    text-align: start;
}
.noneDisplay, .noneDisplay a {
    color: white;
    line-height: 25px;
    text-decoration: none;
    font-family: "Roboto",sans-serif;
}
.noneDisplay a:hover, .noneDisplay a:active {
    font-size: 105%;
}
.pointer:hover {
    cursor: pointer;
}