* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header nav {
    position: sticky;
    top: 0;
}
nav {
    width: 100vw;
    background-color: var(--bege);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 20px;
    box-shadow: 0px 1px 5px rgba(136, 136, 136, 0.274);
}
nav > ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    position: relative;
    width: 50%;
}