@font-face {
    font-family: Cute;
    src: url("../fonts/Liebe\ finden\ -\ OTF.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --rosa-claro:#FFC8DD;
    --lilás:#CDB4DB;
    --rosa:#FFAFCC;
    --azul-claro: #e9f4fe;
    --azul:#A2D2FF;
    --bege: beige;
    --box-shadow:rgba(117, 117, 105, 0.788);
    --Cute: "Cute", Arial, Helvetica, sans-serif;
}
.phrase {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.phrase p {
    text-align: center;
    font: 1.2rem var(--Cute);
    width: 75%;
    margin: 15px 0 15px 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.315);
}