nav {
    background-color: var(--azul-claro);
}
main {
    background-color: var(--bege);
    padding: 5vw;
}
main h2 {
    font: 2rem var(--CuteTitle);
    margin: 1rem;
}
p {
    font: 1.2rem Cursive, Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}