@font-face {
    font-family: CuteTitle;
    src: url("../fonts/I\ Found\ My\ Valentine\ -\ OTF.otf");
}
main {
    background-color: var(--azul-bebe);
    padding: 7%;
}
main h2 {
    color: var(--vermelho);
    font: 2rem "CuteTitle", Verdana, Geneva, Tahoma, sans-serif;
    margin: 1.5rem 2rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.178);
}
p {
    font: 1.2rem Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}
a {
    color: black;
    font-weight: bolder;
    text-decoration: none;
}